@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


*{
  scrollbar-width: none;
  scrollbar-color: #101;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #FFFFFF;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

button , h1, h2, h3, h4, h5, h6, a, input, a, li, p {
  all: unset;
}

